{% extends "base.html" %}

{% block title %}Nowe zgłoszenie | VKICKHAMSTER Helpdesk{% endblock %}
{% block heading %}Opisz swój problem{% endblock %}

{% block content %}
<p class="lead">Wypełnij formularz. Zgłoszenie trafi do zespołu wsparcia.</p>
<form method="post" enctype="multipart/form-data" class="card">
  {% csrf_token %}
  {{ form.as_p }}
  {% if recaptcha_enabled %}
    <div class="captcha-field">
      <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?hl=pl" async defer></script>
  {% endif %}
  <button type="submit">Wyślij zgłoszenie</button>
</form>

<p class="operator-entry">
  Pracujesz w zespole wsparcia?
  <a href="{{ operator_base_url }}/operator/">Zaloguj jako operator</a>
</p>
{% endblock %}
